.add{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container{
    width: 250px;
    min-height: 250px;
    background-color:  rgb(212, 219, 219);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}